<div id="university-slider-wrap">
		<h1>Universities <span class="sub"> the best of Hungary</span></h1>
		<ul id="university-slider">
			<li class="clearfix">
				<a class="one active" href="#"><%= image_tag "universities/corvinus/corvinus_slider.png", :title => "Corvinus" %> <span class="name">Corvinus</span></a>
				<a class="two" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE2</span></a>
				<a class="three" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE3</span></a>
				<a class="four" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE4</span></a>
			</li>
			<li class="clearfix">
				<a class="one" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE</span></a>
				<a class="two" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE</span></a>
				<a class="three" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE</span></a>
				<a class="four" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE</span></a>						
			</li>
		</ul>
</div>

<section id="content" class="clearfix bme">
	<div class="clearfix">
		<div class="box twothird dark-green" id="unversity-intro">
			<h3>International Business School</h3>
			<div class="clearfix">
				<p class="left">It is widely known that in the third millennium a schools are not just about teaching the students, but it should <strong>show students how to live and work with others</strong>, how to <strong>prepare students for international business</strong> in a globalised world. International Business School Budapest is the business school of the third millennium. Since 1991 the school has been training professionals who will be highly successful in their international activities.
				</p>
				<p class="left">IBS is a truly international university offering <em>British degree in the heart of Hungary</em>, students come from 75 countries of 5 continents and professors from various countries of the world. Most of the teachers at IBS, come from the professional business world and their approach towards teaching reflects the core foundation of IBS: the <strong>practical approach</strong>.</p>
			</div>
			<p class="full">The success of IBS comes from its unique approach; what IBS represents reflects on the prices what IBS won in the past years. IBS is in the <em>1000 Best Business Schools Worldwide</em> according to SMBG Eduniversal, IBS has won the <em>SuperBrand Award</em> in 2010.
			</p>
		</div>
		<div class="box third dark-purple" id="counter">
			<h3>Time left for application</h3>
			<div id="countdown" class="clearfix"></div>
			<span id="deadline">Deadline is <span></span></span>
			<a href="#" class="button">Apply</a>
		</div>
	</div>
	<div class="box third gray" id="bsc">
		<h4>Bachelors (BSc)</h4>
		<h5>Admission requirements</h5>
		<ul>
			<li>Secondary high school reports with good results <em>(min. 70%)</em>, especially in <strong>Mathematics</strong>, <strong>Physics</strong> and <strong>English</strong>.</li>
			<li>Placement Test of Math and Physics</li>
			<li>Curriculum Vitae</li>
			<li>General certificate of education <em>(G.C.E.)</em> or equivalent secondary high school diploma</li>
			<li>TOEFL Internet Based Test <em>(iBT)</em> score 85 or paper based score 550 <strong>or</strong> Cambridge First Certificate ”B” <strong>or</strong> iELTS score of 5.0 in English</li>
		</ul>
		<h5>Tuition fee</h5>
		<ul>
			<li><strong>€ 3 200</strong> / semester</li>
			<li>(7-10 semester / program)</li>
		</ul>
		<h5>Language of instruction</h5>
		<ul>
			<li>English</li>
		</ul>
		<h5>Pograms</h5>
		<ul>
			<li><a href="">Architecture</a></li>
			<li><a href="">Faculty of Chemical Technology and Biotechnology</a></li>
			<li><a href="">Faculty of Civil Engineering</a></li>
			<li><a href="">Electrical Engineering and Software Engineering</a></li>
			<li><a href="">Mechanical Engineering</a></li>
			<li><a href="">Transportation Engineering</a></li>
			<li><a href="">Vehicle Engineering</a></li>
		</ul>
	</div>
	<div class="box third gray" id="msc">
		<h4>Masters (MSc)</h4>
		<h5>Admission requirements</h5>
		<ul>
			<li>BSc degree or its equivalent <em>(with notarized official English translations of all transcripts)</em></li>
			<li>Average grades of “B” or better (depends on faculty requirements)</li>
			<li>Official transcripts of any higher education already completed</li>
			<li>Curriculum Vitae</li>
			<li>2 letters of recommendations</li>
			<li>TOEFL Internet Based Test <em>(iBT)</em> score 85 or paper based score 550 <strong>or</strong> Cambridge First Certificate ”B” <strong>or</strong> iELTS score of 5.0 in English</li>
			<li>More requirements for each <a href="#programs">program</a> might be needed</li>
		</ul>
		<h5>Tuition fee</h5>
		<ul>
			<li><strong>€ 3 500</strong> / semester</li>
			<li>(4 semester / program)</li>
		</ul>
		<h5>Language of instruction</h5>
		<ul>
			<li>English</li>
		</ul>
		<h5>Pograms</h5>
		<ul>
			<li><a href="#international-economy-and-business">International Economy and Business</a></li>
			<li><a href="#marketing-management">Marketing Management</a></li>
			<li><a href="#tourism-management">Tourism Management</a></li>
			<li><a href="#public-policy-and-management">Public Policy and Management</a></li>
			<li><a href="#international-relations">International Relations</a></li>
		</ul>
	</div>
	<div class="box third gray" id="phd">
		<h4>Doctorate (PhD)</h4>
		<h5>Admission requirements</h5>
		<ul>
			<li>Master of Science (or Engineering) degree in Electrical and Electronic Engineering (or in some closely related fields) or Informatics</li>
			<li>a definite scope of research in electrical engineering or computer science, where they would like to advance their knowledge</li>
			<li>a proposal, specifying a domain of interest with some research objectives, milestones and deliverables</li>
			<li>a short summary of preliminary research activities together with relevant reports, published papers, etc.</li>
			<li>two recommendations given by renowned academic personnel</li>
			<li>Curriculum Vitae</li>
			<li>TOEFL Internet Based Test <em>(iBT)</em> score 85 or paper based score 550 <strong>or</strong> Cambridge First Certificate ”B” <strong>or</strong> iELTS score of 5.0 in English</li>
		</ul>
		<h5>Tuition fee</h5>
		<ul>
			<li><strong>€ 4 500 / semester</li>
			<li>(6 semester / program)</li>
		</ul>
		<h5>Language of instruction</h5>
		<ul>
			<li>English</li>
		</ul>
		<h5>Pograms</h5>
		<ul>
			<li><a href="#management-and-business-administration">Management and Business Administration</a></li>
			<li><a href="#sociology-phd">Sociology</a></li>
			<li><a href="#food-science">Food Science</a></li>
			<li><a href="#landscape-architecture-and-landscape-ecology">Landscape Architecture and Landscape Ecology</a></li>
			<li><a href="#horticultural-science">Horticultural Science</a></li>
		</ul>
	</div>
	<div class="box third dark-purple" id="campus">
		<h3>The Campus</h3>
		<p>The main campus is located on the Pest side of the Danube. Students who study in this campus can enjoy the <strong>magnificent scenery of the Danube</strong> and the Gellért Hill.</p>
		<p>The campus <strong>can be easily reached</strong> by public transportation and by bike as well since the campus lies in the <strong>heart of the city</strong>.</p>
		<p>It has great facilities such as: library, café, pub, well equipped IT area and a canteen.</p>
	</div>
	<div class="box third video">
		<a target="_blank" href="http://maps.google.com/maps?q=1093+Budapest,+F%C5%91v%C3%A1m+t%C3%A9r+8&hl=hu&ie=UTF8&ll=47.485352,19.060056&spn=0.008454,0.019269&sll=47.15984,19.500732&sspn=4.354998,9.865723&hnear=1093+Budapest,+IX.+ker%C3%BClet,+F%C5%91v%C3%A1m+t%C3%A9r+8&t=h&z=16">
			<img src="http://maps.google.com/maps/api/staticmap?center=47.485564,19.058331&zoom=14&markers=color:green|47.485564,19.058331&size=305x305&sensor=true" alt="The campus of Corvinus University of Budapest" />
		</a>
	</div>
	<div class="box third video">
		<iframe src="http://player.vimeo.com/video/25402553?title=0&amp;byline=0&amp;portrait=0" width="305" height="305" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	
	<div class="clearfix" id="faculty-grid">
		<div id="programs" class="box dark-green third">
			<h3>Programs</h3>
		</div>
		<div class="box light-green third" id="architecture">
			<h4>Architecture</h4>
			<p>The education of chemical engineers and chemists has a long-standing tradition in Hungary. Students in the BSc program receive a thorough introduction to areas basic to chemical engineering before they begin their specialisations in the fifth semester.</p>
			<a href="#architecture-info" class="button more-link">More info</a>	
			<div class="more-info box gray" id="architecture-info">
				<h4>Vehicle Engineering BSc</h4>
				<p>The education of vehicle engineers, who are able to keep in operation road vehicles, railway vehicles, aircraft and ships, as well as building machines and materials-handling machines in a system oriented way, taking into consideration the characteristics of the transportation and transport-logistics processes, furthermore to solve the basic tasks of engineering,
concerning their design, development, manufacturing and repair. They can perform special missions with emphasized regard to transport safety, environment protection and energy planning.
				</p>
					<h5>Tuition fee</h5>
					<ul>
						<li>
							<strong>€ 3 200</strong> / semester
						</li>
						<li>Duration is <strong>7</strong> semesters</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="box light-green third" id="international-business">
			<h4>International Business BSc</h4>
			<p>The program will equip students with an adequate knowledge in economics, business, communication skills, foreign languages for graduates to be able to organize and manage business in an international environment.</p>
			<a href="#international-business-info" class="button more-link">More info</a>	
			<div class="more-info box gray" id="international-business-info">
				<h4>International Business BSc</h4>
				<p>
					The teaching methodology is highly skill development based and focuses on the practical use of the acquired knowledge. This includes interactive discussions, small group work, student projects and presentations, case studies and other business problem related issues. Due to the international orientation of the program, students will have the opportunity to take two foreign business languages. 
				</p>
				<p>
					<h5>Admission requirements</h5>
					<ul>
						<li>
							Completed secondary school studies
						</li>
						<li>
							English language proficiency
						</li>
						<li>
							Entrance examination in Mathematics
						</li>
					</ul>
				</p>
				<p>
					<h5>Tuition fee</h5>
					<ul>
						<li>
							<strong>€ 2 900</strong> / semester
						</li>
						<li>Duration is <strong>7</strong> semesters incl. 1 semester mandatory internship</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="box light-green third" id="sociology">
			<h4>Sociology BSc</h4>
			<p>The program provides a broad knowledge in sociology, related analytical skills and research methods.</p>
			<a href="#sociology-more" class="button more-link">More info</a>
			<div class="more-info box light-green" id="sociology-more">
				<h4>Transportation Engineering BSc</h4>
				<p>
					The MSc level education of transportation engineers, who are prepared to analyse, to design, to organise and to control of transportation processes and systems taking into consideration the principles of economics and system orientation. They are prepared to carry out management and official tasks, as well as to select and keep vehicles and equipments in operation as elements of transportation systems, including the elements of infrastructure and informatics systems, too.
				</p>
				<h5>Competencies and skills</h5>
				<p>Possessing the MSc degree, transportation engineers are able: to recognise connections between systems and processes of transportation, to evaluate and to handle them in the framework of system theory, as well as to apply the principles and methods, - connected with the specialization selected, to carry out state assessments, to develop, design, organise and control complex transportation systems.</p>
				<p>
				<p><strong>Basic specialization accepted to the input without any conditions</strong></p>
				<p>
					<ul>
						<li>basic specialization of transportation engineering</li>
					</ul>
				</p>
				<p><strong>Basic specialization accepted to the input with given conditions</strong></p>
				<p>
					<ul>
						<li>mechanical engineering</li>
						<li>mechatronics engineering</li>
						<li>military staff, and safety technology engineering</li>
						<li>civil engineering</li>
						<li>engineering informatics</li>
						<li>light industry engineering</li>
					</ul>
				</p>
					<h5>Tuition fee</h5>
					<ul>
						<li>
							<strong>€ 3 500</strong> / semester
						</li>
						<li>Duration is <strong>4</strong> semesters</li>
					</ul>
				</p>
			</div>	
		</div>
		
		<div class="box light-green third" id="international-economy-and-business">
			<h4>International Economy and Business MSc</h4>
			<p>The aim of this programme is to make the gradutes to understand the processes of international economy, ranging from the fields of international business to international politics and law.</p>
			<a href="#international-economy-and-business-more" class="button more-link">More info</a>	
			<div id="international-economy-and-business-more" class="more-info box gray">
				<h4>International Economy and Business MSc</h4>
				<p>
					The core content of the programme reflects the increasing globalisation and continuous evolution of international economics and business management. Besides giving a foundation in statistics and micro- and macroeconomic theory, the programme focuses on the global economy: trade, finance, factoring and information flows, multinational corporations, corporate strategies, international organisations, development, regionalism and integration, intellectual property, etc. While the program sheds the light on both  the necessary theoretical basis,and on the practical approach as well. To gain the full benefits of the programme, active student participation in individual and group work is highly recommended. The programme has two specialisations: International Economic Analysis and Comparative European Economic and Business Studies.
					
				</p>
				<p>
					<h5>Admission requirements</h5>
					<ul>
						<li>
							Essay in general social and economic subjects via internet
						</li>
						<li>
							Personal (or telephone) interview
						</li>
						<li>
							Evaluation of the Bachelor’s degree
						</li>
					</ul>
				</p>
				<p>
					<h5>Tuition fee</h5>
					<ul>
						<li>
							<strong>€ 1 950</strong> / semester
						</li>
						<li>Duration is <strong>4</strong> semesters</li>
					</ul>
				</p>
			</div>
		</div>
		
		<div class="box light-green third" id="marketing-management">
			<h4>Marketing Management MSc</h4>
			<p>The aim of this programme is to make the gradutes to understand the processes of international economy, ranging from the fields of international business to international politics and law.</p>
			<a href="#marketing-management-more" class="button more-link">More info</a>	
			<div id="marketing-management-more" class="more-info box gray">
				<h4>Electrical Engineering and Software Engineering PhD</h4>
				<h5>Tuition fee</h5>
					<ul>
						<li>
							<strong>€ 4 500</strong> / semester
						</li>
						<li>Duration is <strong>6</strong> semesters</li>
					</ul>
				</p>
			</div>
		</div>
		
		<div class="box light-green third" id="tourism-management">
			<h4>Tourism Management MSc</h4>
			<p>This new programme is unique in Hungarian graduate education and it aims at the development of a series of intellectual skills to enable students to: research and assess subject specific facts, theories, paradigms, principles and concepts in tourism.</p>
			<a href="#marketing-management-more" class="button more-link">More info</a>	
			<div id="marketing-management-more" class="more-info box gray">
				<h4>Marketing Management MSc</h4>
				<p>
					Furthermore to enable students to critically assess and evaluate evidence; interpret data and text; describe and analyse information; apply knowledge to the solution of problems in connection with tourism. Graduates in Tourism Management should know: the operation of tourism system, the theory and practice of sustainability and sustainable tourism,  the operation and management of the key as well as the related fields of the industry, mechanisms of socio-economic environment, market rules, factors influencing economic performance, financial support schemes and sources available for development, project management, operational and management issues of companies and organizations with special attention to tourism. Also, they should be aware of the latest trends in tourism and leisure (in Hungary and internationally), research of tourism studies: techniques, approaches, practical application of results.
				</p>
				<p>
					<h5>Admission requirements</h5>
					<ul>
						<li>
							Proof of English language proficiency
						</li>
						<li>
							Written exam in Business Economics and Statistics
						</li>
						<li>
							Oral exam web conference
						</li>
						<li>
							BA or BSc degree
						</li>
					</ul>
				</p>
				<p>
					<h5>Tuition fee</h5>
					<ul>
						<li>
							<strong>€ 3 300</strong> / semester
						</li>
						<li>Duration is <strong>4</strong> semesters</li>
					</ul>
				</p>
			</div>
		</div>
		
		<div class="box light-green third" id="public-policy-and-management">
			<h4>Public Policy and Management MSc</h4>
			<p>This programme aims to train graduates who can apply their practical and theoretical knowledge in economics, social sciences, management, and law to solve issues in state administration. </p>
			<a href="#public-policy-and-management-more" class="button more-link">More info</a>	
			<div id="public-policy-and-management-more" class="more-info box gray">
				<h4>Public Policy and Management MSc</h4>
				<p>
					The programme is sheds the light on the comparative analysis of questions of public administration, public policy and public management in EU and non-EU countries in the context of processes of internationalisation, Europeanisation and European integration. 
				</p>
				<p>
					The PUMA serves as a basis for studies in the International Master on Public Administration and the Coordination of Transition (IMPACT) programme as well. The joint programme is offered as a full time study programme  by three universities: Radboud University Nijmegen, Corvinus University of Budapest and University of Ljubljana. Students are expected to follow courses at each of the cooperating universities. All three universities will issue a diploma and a Diploma Supplement certifying the degree and the results obtained. In order to get the Corvinus diploma students should register to the Master of Arts in Public Policy and Management programme.
					
				</p>
				<p>
					<h5>Admission requirements</h5>
					<ul>
						<li>
							Proof of English language proficiency
						</li>
						<li>
							Essay on general relevant subjects in a case study form
						</li>
						<li>
							Personal or telephone interview on motivations
						</li>
						<li>
							BA or BSc degree
						</li>
					</ul>
				</p>
				<p>
					<h5>Tuition fee</h5>
					<ul>
						<li>
							<strong>€ 1 950</strong> / semester
						</li>
						<li>Duration is <strong>4</strong> semesters</li>
					</ul>
				</p>
			</div>
		</div>
		
		<div class="box light-green third" id="international-relations">
			<h4>International Relations MSc</h4>
			<p>The aim of the program is to develop specialists who will be capable of understanding the theoretical and practical correspondences in international relations.</p>
			<a href="#international-relations-more" class="button more-link">More info</a>	
			<div id="international-relations-more" class="more-info box gray">
				<h4>International Relations MSc</h4>
				<p>
					Students acquire high-level competence in foreign languages, negotiating techniques and in the rules of protocol. Their professional aptitude gained through a comprehensive training in history, international politics, international law and other fields of social sciences enables them to analyze and synthesize complex issues, understand and make predictions about the political, legal and economic processes of international relations. The program offers a choice for a future career in public administration, international institutions, NGOs or multinational companies.
				</p>
				<p>
					<h5>Admission requirements</h5>
					<ul>
						<li>
							Proof of English language proficiency
						</li>
						<li>
							Essay of 4000 - 6000 words by email
						</li>
						<li>
							Personal interview (might be needed)
						</li>
						<li>
							BA or BSc degree
						</li>
					</ul>
				</p>
				<p>
					<h5>Tuition fee</h5>
					<ul>
						<li>
							<strong>€ 2 200</strong> / semester
						</li>
						<li>Duration is <strong>4</strong> semesters</li>
					</ul>
				</p>
			</div>
		</div>
		
		<div class="box light-green third" id="management-and-business-administration">
			<h4>Management and Business Administration PhD</h4>
			<a href="#management-and-business-administration-more" class="button more-link">More info</a>	
			<div id="management-and-business-administration-more" class="more-info box gray">
				<h4>Management and Business Administration PhD</h4>
				<p>
					The PhD programme in Management and Business Administration aims to prepare students to carry out high quality research in management and business related areas. After completing the course work PhD candidates go through a comprehensive rigorosum as part of the requirements for the doctoral degree.  PhD candidates need to demonstrate their ability to conduct high level research work.

				</p>
				<p>
					<h5>Admission requirements</h5>
					<ul>
						<li>
							A Master level university degree
						</li>
						<li>
							English language proficiency
						</li>
						<li>
							Entrance oral examination
						</li>
					</ul>
				</p>
				<p>
					<h5>Tuition fees</h5>
					<ul>
						<li>
							<strong>€ 35</strong> admission fee
						</li>
						<li><strong>€ 3 200</strong> / semester</li>
						<li><strong>€ 400</strong> Rigorosum fee</li>
						<li><strong>€ 800</strong> Thesis-proposal defendence fee</li>
						<li><strong>€ 1 200</strong> Final thesis defence fee</li>
						<li>Duration is <strong>6</strong> semesters</li>
					</ul>
				</p>
			</div>
		</div>
		
		<div class="box light-green third" id="sociology-phd">
			<h4>Sociology PhD</h4>
			<a href="#sociology-phd-more" class="button more-link">More info</a>	
			<div id="sociology-phd-more" class="more-info box gray">
				<h4>Sociology PhD</h4>
				<p>
					The PhD program in sociology aims to prepare students to carry out high quality research in economic sociology and related social areas. In order to achieve this goal we offer courses in social theory, methodology, social stratification, economic sociology, historical sociology and subject area topics. PhD students are supposed to take part in research seminars from the beginning, where their topic is discussed and developed.

				</p>
				<p>
					<h5>Admission requirements</h5>
					<ul>
						<li>
							Master level university degree with grade “B” (good)
						</li>
						<li>
							Good command of English
						</li>
					</ul>
				</p>
				<p>
					<h5>Tuition fees and grants</h5>
					<ul>
						<li>
							<strong>€ 35</strong> admission fee
						</li>
						<li><strong>€ 3 000</strong> / semester</li>
						<li>Tuition fee can be reduced after the 1st semester according to merit and participation in teaching</li>
						<li>Research grants (<strong>€ 370</strong> / month each) are offered to those who intend to specialize in local society, European integration, corruption, migration, elite  and entrepreneurship studies. Eligibility: EU-citizenship, outstanding record and strong research plan</li>
						<li><strong>€ 340</strong> reward ??? EZ MI</li>
						<li>Duration is <strong>6</strong> semesters</li>
					</ul>
				</p>
			</div>
		</div>

		<div class="box light-green third" id="food-science">
			<h4>Food Science PhD</h4>
			<a href="#food-science-more" class="button more-link">More info</a>	
			<div id="food-science-more" class="more-info box gray">
				<h4>Food Science PhD</h4>
				<p>
					The program aims to prepare students to carry out high quality research in food science related areas. In order to achieve this goal PhD students take courses in the study subjects and research topics listed below. Research in the field of food science and food engineering is of special interest because of the increasing importance of food safety and food quality and up-to-date procedures used in processing. Therefore the different fields of the program have high priority for the competitiveness.
				</p>
				<p>
					<h5>Tuition fee</h5>
					<ul>
						<li><strong>€ 4 000</strong> / semester</li>
						<li>Duration is <strong>6</strong> semesters</li>
					</ul>
				</p>
			</div>
		</div>
		
		<div class="box light-green third" id="landscape-architecture-and-landscape-ecology">
			<h4>Landscape Architecture and Landscape Ecology PhD</h4>
			<a href="#landscape-architecture-and-landscape-ecology-more" class="button more-link">More info</a>	
			<div id="landscape-architecture-and-landscape-ecology-more" class="more-info box gray">
				<h4>Landscape Architecture and Landscape Ecology PhD</h4>
				<p>
					The program offers complex scientific research and development in the field of landscape architecture, urban and environmental design, landscape protection and reclamation, landscape planning, social-economic aspects of climate change  and landscape management; combining a wide range of competencies, the creative understanding of aesthetics and social sciences with the knowledge of ecological and technical sciences. The doctoral programs are tailored to the goals of each student.
				</p>
				<p>
					<h5>Admission requirements</h5>
					<ul>
						<li>
							MSc degree or its equivalent  in the field of agricultural or life sciences
						</li>
						<li>
							Knowledge of English
						</li>
						<li>Previous participation in scientific activities (publications)</li>
					</ul>
				</p>
				<p>
					<h5>Tuition fee</h5>
					<ul>
						<li>
							<strong>€ 40</strong> admission fee
						</li>
						<li><strong>€ 4 000</strong> / semester</li>
						<li><strong>€ 1 000</strong> thesis evaluation and defending procedure</li>
						<li>Duration is <strong>6</strong> semesters</li>
					</ul>
				</p>
			</div>
		</div>
		
		<div class="box light-green third" id="horticultural-science">
			<h4>Horticultural Science PhD</h4>
			<a href="#horticultural-science-more" class="button more-link">More info</a>	
			<div id="horticultural-science-more" class="more-info box gray">
				<h4>Horticultural Science PhD</h4>
				<p>
					The program offers complex scientific research and development in the field of landscape architecture, urban and environmental design, landscape protection and reclamation, landscape planning, social-economic aspects of climate change  and landscape management; combining a wide range of competencies, the creative understanding of aesthetics and social sciences with the knowledge of ecological and technical sciences. The doctoral programs are tailored to the goals of each student.
				</p>
				<p>
					<h5>Admission requirements</h5>
					<ul>
						<li>
							MSc degree or its equivalent  in the field of agricultural or life sciences
						</li>
						<li>
							Knowledge of English
						</li>
						<li>Previous participation in scientific activities (publications)</li>
					</ul>
				</p>
				<p>
					<h5>Tuition fee</h5>
					<ul>
						<li>
							<strong>€ 40</strong> admission fee
						</li>
						<li><strong>€ 4 000</strong> / semester</li>
						<li><strong>€ 1 000</strong> thesis evaluation and defending procedure</li>
						<li>Duration is <strong>6</strong> semesters</li>
					</ul>
				</p>
			</div>
		</div>
		
</div>
	<div class="box dark-purple full" id="graduates">
		<h3>Famous graduates</h3>
		<div class="graduate" id="akos">
			<h4>Ákos Kovács</h4>
			<p>Famous singer and performer</p>
		</div>
		<div class="graduate" id="beke">
			<h4>Gábor Beke-Martos</h4>
			<p>CEO of Siemens Hungary</p>
		</div>
		<div class="graduate" id="agi">
			<h4>Ágnes Kovács</h4>
			<p>Olympic Gold winner swimmer, UNICEF ambassador</p>
		</div>
	</div>
	<div class="box full white" id="connections">
		<h3>Industrial connections</h3>
		<%= image_tag "partners/deloitte.png", :title => "Deloiette" %>
		<%= image_tag "partners/exxon.png", :title => "Exxon mobil" %>
		<%= image_tag "partners/kpmg.png", :title => "KPMG" %>
		<%= image_tag "partners/lego.png", :title => "Lego" %>
		<%= image_tag "partners/loreal.png", :title => "L'Oreal" %>
		<%= image_tag "partners/nestle.png", :title => "Nestle" %>
		<%= image_tag "partners/peek.png", :title => "Peek & Cloppenburg" %>
		<%= image_tag "partners/pg.png", :title => "PG" %>
		<%= image_tag "partners/pwc.png", :title => "PWC" %>
		<%= image_tag "partners/tata.png", :title => "TATA" %>
	</div></strong>
	<div class="box dark-green twothird" id="community">
		<h3>Community</h3>
		<p class="full">BUTE as one on the greatest Hungarian university offers several possibilities for students to enjoy their free time and to relax after a long day. BUTE has a bar or a club at almost every single dormitory what BUTE has. Students can receive great discounts in all the BUTE related dormitories where they go to hang out.</p>
		<p class="full">According to BUTE’s long tradition, the university organizes the <strong>Uni Days</strong> every year around September. During these days the students can enjoy the best Hungarian bands and DJ-s, the whole event takes place at BUTE’s campus. Different programs are organized for the students such as: stand up comedians are invited, sport contests, cultural happenings etc. The Uni days are designed in a way that everyone could find his/her favorite activities.</p>
		<p class="full">The <strong>Freshmen’s Ball</strong> organized by the university for the new comers is usually around November.Students start the party with a resolution, and then they can enjoy the music variety and the great environment. Students receive discounts all the time.</p>
		<p class="full">The <strong>Semester Ball</strong>  is organized by the student union, where they just simply have a great party to get the new semester started and to wave goodbye to the previous one. This event is usually held in February and it is a nice kick off for the new semester.</p>
	</div>
	<div class="box third image-quad">
		<img class="one" src="http://www.placekitten.com/150/150" alt="" />
		<img class="two" src="http://www.placekitten.com/150/150" alt="" />
		<img class="three" src="http://www.placekitten.com/150/150" alt="" />
		<img class="four" src="http://www.placekitten.com/150/150" alt="" />
		<img class="five" src="http://www.placekitten.com/150/150" alt="" />
		<img class="six" src="http://www.placekitten.com/150/150" alt="" />			
	</div>
	<div id="international-relations" class="box full white">
		<h3>Erasmus partners</h3>
		<p>These are the universities to which you can go for as an exchange student.</p>
		<div class="relation">
			<span class="country england">England</span>
			<h5>London School of Economics</h5>
			<%= image_tag "universities/partners/london.png", :title => "London School of Economics" %>
		</div>
		<div class="relation">
			<span class="country germany">Germany</span>
			<h5>Humboldt-Universität zu Berlin</h5>
			<%= image_tag "universities/partners/humboldt.png", :title => "Humboldt-Universität zu Berlin" %>
		</div>
		<div class="relation">
			<span class="country spaing">Spain</span>
			<h5>Universitat Politechnica de Catalanya</h5>
			<%= image_tag "universities/partners/upc.png", :title => "Universitat Politechnica de Catalanya" %>
		</div>
		<div class="relation">
			<span class="country france">France</span>
			<h5>Université de Paris III - Sorbonne Nouvelle</h5>
			<%= image_tag "universities/partners/sorbonne.png", :title => "Université de Paris III - Sorbonne Nouvelle" %>
		</div>
		<div class="relation last">
			<span class="country ireland">Ireland</span>
			<h5>Dublin City University</h5>
			<%= image_tag "universities/partners/dcu.png", :title => "Dublin City University" %>
		</div>
	</div>
</section>