<div id="university-slider-wrap">
		<h1>Universities <span class="sub"> the best of Hungary</span></h1>
		<ul id="university-slider">
			<li class="clearfix">
				<!-- <a class="one active" href="#"><%= image_tag "universities/corvinus/corvinus_slider.png", :title => "Corvinus University of Budapest" %> <span class="name">Corvinus</span></a> -->
				<% University.all.each do |university| %>
					<% active = '' %>
					<% active = ' active' if university == @university %>
					<%= link_to university, :class => (university.slug + active) do %>
						<%= image_tag university.slider_logo unless university.slider_logo.blank? %>
						<span class="name"><%= university.short_name %></span>
					<% end %>
				<% end %>
			</li>
		</ul>
</div>

<section id="content" class="clearfix <%= @university.slug %>">

	<div class="clearfix">
		<div class="box twothird dark-green" id="unversity-intro">
			<h3><%= @university.name %></h3>
			<%= @university.description.html_safe %>
		</div>

		<div class="box third dark-purple" id="counter">
			<h3>Time left for application</h3>
			<div id="countdown" class="clearfix"></div>
			<span id="deadline">Deadline is <span><%= @university.deadline %></span></span>
			<a href="#" class="button">Apply</a>
		</div>
	</div>

	<% @university.requirements.each do |requirement| %>
		<div class="box third gray" id="<%= requirement.level.downcase %>">
			<h4><%= requirement.level.html_safe %></h4>

			<h5>Requirements</h5>
			<%= requirement.text.html_safe %>

			<h5>Tuition fee</h5>
			<%= requirement.tution_fee.html_safe %>

			<h5>Programmes</h5>
			<ul>
				<% @university.faculties.where(:level => requirement.level).each do |faculty| %>
					<li><%= link_to faculty.name, "#" + faculty.name.delete(" ").downcase %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="box third dark-purple" id="campus">
		<h3>The Campus</h3>
		<%= @university.campus.html_safe %>
	</div>
	<div class="box third video">
		<%= @university.campus_map.html_safe unless @university.campus_map.blank? %>
	</div>

	<% unless @university.campus_video.blank? %>
		<div class="box third video">
			<%= @university.campus_video.html_safe %>
		</div>
	<% else %>
		<div class="box third image-quad">
			<% @university.university_images.limit(4).each_with_index do |image, i| %>
				<%= image_tag image.image_file, :title => @university.name + "-" + (i+1).to_s, :class => int_to_eng(i+1) %>
			<% end %>
		</div>
	<% end %>

	<div class="clearfix" id="faculty-grid">
		<div id="programs" class="box dark-green third">
			<h3>Programmes</h3>
		</div>

		<% @university.faculties.each do |faculty| %>

			<% id = faculty.name.delete(" ").downcase %>

			<div class="box light-green third" id="<%= id %>">
				<h4><%= faculty.name %> <%= faculty.level.html_safe %></h4>
				<p><%= faculty.short_description %></p>
				<a href="#<%= id %>-info" class="button more-link">More info</a>
				<div class="more-info box gray" id="<%= id %>-info">
					<%= faculty.desc.html_safe %>
				</div>
			</div>

		<% end %>


</div>
	<div class="box dark-purple full" id="graduates">
		<h3>Famous graduates</h3>
		<% @university.famous_graduates.each_with_index do |fam_grad, i| %>
			<div class="graduate" id="grad-<%= i+1 %>">
				<h4><%= fam_grad.name %></h4>
				<p><%= fam_grad.title %></p>
			</div>
		<% end %>
	</div>

	<% if @university.related_industries.any? %>
		<div class="box full white" id="connections">
			<h3>Industrial connections</h3>
			<% @university.related_industries.each do |ind| %>
				<%= image_tag ind.image_file, :title => ind.name %>
			<% end %>
		</div>
	<% end %>

	<div class="box dark-green twothird" id="community">
		<h3>Community</h3>
		<%= @university.community.html_safe %>
	</div>
	<div class="box third image-quad">
		<img class="one" src="http://www.placekitten.com/150/150" alt="" />
		<img class="two" src="http://www.placekitten.com/150/150" alt="" />
		<img class="three" src="http://www.placekitten.com/150/150" alt="" />
		<img class="four" src="http://www.placekitten.com/150/150" alt="" />
		<img class="five" src="http://www.placekitten.com/150/150" alt="" />
		<img class="six" src="http://www.placekitten.com/150/150" alt="" />
	</div>

	<% if @university.related_institutions.any? %>
		<div id="international-relations" class="box full white">
			<h3>Erasmus partners</h3>
			<p>These are the universities to which you can go for as an exchange student.</p>
			<% @university.related_institutions.each_with_index do |inst, i| %>
				<div class="relation <%= i == 4 ? 'last' : '' %>">
					<h5><%= inst.name %></h5>
					<%= image_tag inst.image_file, :title => inst.name %>
				</div>
			<% end %>
		</div>
	<% end %>
</section>