<section id="slider-outer">
	<ul id="slider">
		<li class="" id="slide-1" data-color="#59c9fa">
			<div class="left">
				<h2>High price-value for money</h2>
				<p>With the low cost of life and high academic standards Hungary is one of the best places in Europe to study.</p>
				<a href="/hungary" class="button">Learn more about Hungary</a>
			</div>
			<%= image_tag "slider/slider_01.png", :title => "", :class => "right" %>

		</li>
		<li class="" id="slide-2" data-color="#e76100">
			<div class="left">
				<h2>Outstanding education</h2>
				<p>Hungary delegates 3 universities to the world university ranking list according to Webometrics.</p>
				<a href="/universities" class="button">View our universities</a>
			</div>
			<%= image_tag "slider/slider_02.png", :title => "", :class => "right" %>
		</li>
		<li class="" id="slide-3" data-color="#92bf1f">
			<div class="left">
				<h2>Summer School at IBS</h2>
				<p>IBS offers a unique possibility for students at any age who want to polish their English and experience the most beautiful city in Central Europe.</p>
				<a href="/universities/international-business-school" class="button">View IBS</a>
			</div>
			<%= image_tag "slider/slider_03.png", :title => "", :class => "right" %>
		</li>
		<li class="" id="slide-4" data-color="#554595">
			<div class="left">
				<h2>The best bars in the world</h2>
				<p>According to Lonely Planet, Hungary has the 1st and 3rd best pub in the world. Out 100s of competitors from all around the world, these two bars took the pole positions.</p>
				<a href="/hungary" class="button">Learn more about Hungary</a>
			</div>
			<%= image_tag "slider/slider_04.png", :title => "", :class => "right" %>
		</li>
		<li class="" id="slide-5" data-color="#e82e2e">
			<div class="left">
				<h2>The uTransfer experience</h2>
				<p> With uTransfer your education in Hungary is a breeze. Our services go beyond your imagination, we not just provide services but a real experience.</p>
				<a href="/experience" class="button">See the experience</a>
			</div>
			<%= image_tag "slider/slider_05.png", :title => "", :class => "right" %>
		</li>
	</ul>
</section>

<section id="content" class="clearfix">
	<div class="box third dark-green" id="testimonial-box">
		<h3>They have already chosen us</h3>
		<a href="testimonial" id="testimonials-button" class="button">View all testimonials</a>
	</div>
	<% @testimonials.each do |testimonial| %>
		<div class="box third light-green testimonial">
			<h4><%= testimonial.first_name %></h4>
			<%= testimonial.quote.html_safe %>
			<% title = "Testimonial of " + testimonial.first_name %>
			<%= (image_tag testimonial.index_image, :alt => title, :title => title) unless testimonial.index_image.blank? %>
		</div>
	<% end %>
	<div class="box third dark-green" id="study-with-us-box">
		<h3>Study with us in Hungary</h3>
	</div>
	<div id="study-promo" class="box twothird light-green">
		<div class="inner-block">
			<p><span class="firstLetter"><span>H</span></span>ungary is not just famous for its world famous inventors, physicist, athletes, doctors but also for its marvelous history and breathtaking environment. Hungary’s education dates back to the 15th century, the county has always been famous for presenting the greatest professors and academics to the world. Hungary is the country where the quality meets high standards but the price remains reasonable and all this happens in the heart of Europe in the hub of international students.</p>
		</div>
		<div class="inner-block">
			<a href="#" class="button">Discover the uTransfer experience</a>
			<a href="#" class="button">Learn more about Hungary</a>
		</div>
	</div>
	<div class="box white-purple" id="partner-uni-box">
		<h3>Our universities</h3>
		<!--<a href="#" id="view-all-uni" class="button">View all universities</a>-->
		<div class="universities">
			<% @universities.each do |uni| %>
				<%= link_to uni do %>
					<% image_tag uni.index_logo unless uni.index_logo.blank? %>
				<% end %>
			<% end %>
		</div>
	</div>

	<div id="social-wrap">
		<div id="newsletter" class="dark-purple box third">
			<h3>Newsletter</h3>
				<a class="signup" href="http://eepurl.com/k-5gf">Sign up!</a>
		</div>
		<div id="twitter-box">
			<h3>Twitter</h3>
			<a href="https://twitter.com/uTransferEurope" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @uTransferEurope</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div id="facebook-box">
			<h3>Face book</h3>
			<div id="fb-root"></div>
			<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=136997593064327";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-like" data-href="http://www.utransferhungary.com/" data-send="false" data-width="100" data-show-faces="false"></div>
		</div>
	</div>
	<div id="blog" class="box twothird dark-green">
		<h3>Fresh from our blog</h3>
		<a href="#" class="button">View all</a>
		<div id="article-list">
			<!--
			<article>
				<img src="http://placekitten.com/g/90/90" alt="" />
				<h1>Megaphone girls party @Merlin</h1>
				<p><time pubdate datetime="2009-10-10T19:15-08:00">~1 hour ago</time></p>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. <a href="#">Continue reading &raquo;</a></p>
			</article>
			<article>
				<img src="http://placekitten.com/g/90/90" alt="" />
				<h1>Megaphone girls party @Merlin</h1>
				<p><time pubdate datetime="2009-10-10T19:15-08:00">~1 hour ago</time></p>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. <a href="#">Continue reading &raquo;</a></p>
			</article>
		-->
		</div>
	</div>
</section>