<div id="testimonial-slider-wrap">
		<h1>Testimonials <span class="sub"> we helped their university transfer to Hungary</span></h1>
		<ul id="testimonial-slider">
			<li class="clearfix">
				<a class="one" href="#"><span class="nationality ukrainian">Ukrain</span><%= image_tag "testimonials/olga/olga_thumb.png", :title => "Olga from Ukraine" %> <span class="name">Olga</span></a>
				<a class="two" href="#"><span class="nationality ukrainian">Ukrain</span><%= image_tag "testimonials/olga/olga_thumb.png", :title => "Olga from Ukraine" %> <span class="name">Olga</span></a>
				<a class="three" href="#"><span class="nationality ukrainian">Ukrain</span><%= image_tag "testimonials/olga/olga_thumb.png", :title => "Olga from Ukraine" %> <span class="name">Olga</span></a>
				<a class="four" href="#"><span class="nationality ukrainian">Ukrain</span><%= image_tag "testimonials/olga/olga_thumb.png", :title => "Olga from Ukraine" %> <span class="name">Olga</span></a>
			</li>
			<li class="clearfix">
				<a class="one" href="#"><span class="nationality ukrainian">Ukrain</span><%= image_tag "testimonials/olga/olga_thumb.png", :title => "Olga from Ukraine" %> <span class="name">Olga</span></a>
				<a class="two" href="#"><span class="nationality ukrainian">Ukrain</span><%= image_tag "testimonials/olga/olga_thumb.png", :title => "Olga from Ukraine" %> <span class="name">Olga</span></a>
				<a class="three" href="#"><span class="nationality ukrainian">Ukrain</span><%= image_tag "testimonials/olga/olga_thumb.png", :title => "Olga from Ukraine" %> <span class="name">Olga</span></a>
				<a class="four" href="#"><span class="nationality ukrainian">Ukrain</span><%= image_tag "testimonials/olga/olga_thumb.png", :title => "Olga from Ukraine" %> <span class="name">Olga</span></a>							
			</li>
		</ul>
</div>

<section id="content" class="clearfix">
	
	<div class="clearfix">
		<div class="twothird-wrap">
			<div class="box twothird dark-green" id="cite">
				<h3>Olga Brezsnyekov</h3>
				<cite>I had the time of my life in Budapest!</cite>
			</div>
			
			<div class="third-wrap">
				<div class="box third gray">
					<h4>About Alina</h4>
					<p><b>From</b> Ukraine</p>
					<p><b>Born</b> 1981</p>
				</div>
				<div class="box third gray" id="scholarship">
					<a href="#">
						<%= image_tag "http://www.placekitten.com/g/50/50", :title => "title", :class => "class" %>
						<p>Business Assistant Bsc. @ IBS</p>
					</a>
				</div>
			</div>
			<div class="box third gray">
				<h4>How did she found us?</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin.</p>
			</div>
		</div>
		<div class="box third" id="photo">
			<%= image_tag "testimonials/olga/olga-full.png", :title => "Olga from Ukraine" %>
		</div>
	</div>
	<div id="under-photo">
		<div id="experiences" class="box third dark-purple">
			<h3>Experiences</h3>
		</div>
		<div class="box third video">
			<img src="http://www.placekitten.com/305/305" alt="" />
		</div>
		<div class="box third image-quad">
			<img class="one" src="http://www.placekitten.com/150/150" alt="" />
			<img class="two" src="http://www.placekitten.com/150/150" alt="" />
			<img class="three" src="http://www.placekitten.com/150/150" alt="" />
			<img class="four" src="http://www.placekitten.com/150/150" alt="" />
		</div>
		<div id="career" class="box third light-green">
			<h3>Career</h3>
		</div>
		<div class="box twothird light-green">
			<p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor.</p>
			<p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor.</p>
		</div>
	</div>
</section>