<div id="university-slider-wrap">
		<h1>Universities <span class="sub"> the best of Hungary</span></h1>
		<ul id="testimonial-slider">
			<li class="clearfix">
				<a class="one" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE1</span></a>
				<a class="two" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE2</span></a>
				<a class="three" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE3</span></a>
				<a class="four" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE4</span></a>
			</li>
			<li class="clearfix">
				<a class="one" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE</span></a>
				<a class="two" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE</span></a>
				<a class="three" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE</span></a>
				<a class="four" href="#"><span class="speciality engineering">Ukrain</span><%= image_tag "universities/bme/bme_thumb.png", :title => "BUTE" %> <span class="name">BUTE</span></a>						
			</li>
		</ul>
</div>

<section id="content" class="clearfix">
	<div class="box twothird gray" id="unversity-intro">
		<h3>Budapest University of Technology and Economics</h3>
		<p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit</p>
		<p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti.</p>
		<p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor.</p>
	</div>
	<div class="box third dark-purple" id="counter">
		<h3>Time left for application</h3>
		<div id="countdown" class="clearfix"></div>
		<span id="deadline">Deadline is <span></span></span>
		<a href="#" class="button">Apply</a>
	</div>
	<div class="box third gray">
		<h4>Bachelors (BSc)</h4>
		<h5>Admission requirements</h5>
		<ul>
			<li>B.Sc.degree or its equivalent, (with notarized ofﬁcial English translations of all transcripts.</li>
			<li>B.Sc.degree or its equivalent, (with notarized ofﬁcial English translations of all transcripts.</li>
			<li>B.Sc.degree or its equivalent, (with notarized ofﬁcial English translations of all transcripts.</li>
		</ul>
		<h5>Tuition fee</h5>
		<ul>
			<li><strong>$300.000</strong> / semester on every course except IT</li>
			<li><strong>$450.000</strong> / semester on IT</li>
		</ul>
	</div>
	<div class="box third gray">
		<h4>Masters (MSc)</h4>
		<h5>Admission requirements</h5>
		<ul>
			<li>B.Sc.degree or its equivalent, (with notarized ofﬁcial English translations of all transcripts.</li>
			<li>B.Sc.degree or its equivalent, (with notarized ofﬁcial English translations of all transcripts.</li>
			<li>B.Sc.degree or its equivalent, (with notarized ofﬁcial English translations of all transcripts.</li>
		</ul>
		<h5>Tuition fee</h5>
		<ul>
			<li><strong>$300.000</strong> / semester on every course except IT</li>
			<li><strong>$450.000</strong> / semester on IT</li>
		</ul>
	</div>
	<div class="box third gray">
		<h4>Doctorate (PhD)</h4>
		<h5>Admission requirements</h5>
		<ul>
			<li>B.Sc.degree or its equivalent, (with notarized ofﬁcial English translations of all transcripts.</li>
			<li>B.Sc.degree or its equivalent, (with notarized ofﬁcial English translations of all transcripts.</li>
			<li>B.Sc.degree or its equivalent, (with notarized ofﬁcial English translations of all transcripts.</li>
		</ul>
		<h5>Tuition fee</h5>
		<ul>
			<li><strong>$300.000</strong> / semester on every course except IT</li>
			<li><strong>$450.000</strong> / semester on IT</li>
		</ul>
	</div>
	<div class="box third dark-purple" id="campus">
		<h3>The Campus</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. <br />Pellentesque et leo nulla, nec vulputate nulla. </p>
	</div>
	<div class="box third video">
		<img src="http://www.placekitten.com/305/305" alt="" />
	</div>
	<div class="box third image-quad">
		<img class="one" src="http://www.placekitten.com/150/150" alt="" />
		<img class="two" src="http://www.placekitten.com/150/150" alt="" />
		<img class="three" src="http://www.placekitten.com/150/150" alt="" />
		<img class="four" src="http://www.placekitten.com/150/150" alt="" />
	</div>
	<div class="clearfix" id="faculty-grid">
		<div class="box dark-green third">
			<h3>Faculties</h3>
		</div>
		<div class="box light-green third" id="civil-engineering">
			<h4>Civil engineering</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti.</p>
			<a href="#civil-engineering" class="button">More info</a>	
			<div class="more-info">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac libero eu massa sollicitudin mattis porta sollicitudin turpis. Vivamus elementum nisl non neque gravida ultricies. Cras dapibus tempor neque a scelerisque. Sed vulputate, risus eget.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac libero eu massa sollicitudin mattis porta sollicitudin turpis. Vivamus elementum nisl non neque gravida ultricies. Cras dapibus tempor neque a scelerisque. Sed vulputate, risus eget.</p>
			</div>
		</div>
		<div class="box light-green third" id="mechanical-engineering">
			<h4>Mechanical engineering</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti.</p>
			<a href="#mechanical-engineering" class="button">More info</a>	
		</div>
		<div class="box light-green third" id="architecture">
			<h4>Architecture</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti.</p>
			<a href="#architecture" class="button">More info</a>	
		</div>
		<div class="box light-green third" id="transportation-engineering">
			<h4>Transportation engineering</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti.</p>
			<a href="#transportation-engineering" class="button">More info</a>	
		</div>
		<div class="box light-green third" id="natural-sciences">
			<h4>Natural sciences</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti.</p>
			<a href="#natural-sciences" class="button">More info</a>	
		</div>
	</div>
	<div class="box dark-purple full">
		<h3>Famous graduates</h3>
		<div class="graduate">
			<h4>Jeno Wigner</h4>
			<p>Nobel prize winner</p>
		</div>
		<div class="graduate">
			<h4>Jeno Wigner</h4>
			<p>Nobel prize winner</p>
		</div>
		<div class="graduate">
			<h4>Jeno Wigner</h4>
			<p>Nobel prize winner</p>
		</div>
	</div>
	<div class="box full white">
		<h3>Industrial connections</h3>
		<a href="#"><img src="http://placekitten.com/g/200/100" alt="" /></a>
		<a href="#"><img src="http://placekitten.com/g/200/100" alt="" /></a>
		<a href="#"><img src="http://placekitten.com/g/200/100" alt="" /></a>
		<a href="#"><img src="http://placekitten.com/g/200/100" alt="" /></a>
		<a href="#"><img src="http://placekitten.com/g/200/100" alt="" /></a>
		<a href="#"><img src="http://placekitten.com/g/200/100" alt="" /></a>
		<a href="#"><img src="http://placekitten.com/g/200/100" alt="" /></a>
		<a href="#"><img src="http://placekitten.com/g/200/100" alt="" /></a>
	</div>
	<div class="box dark-green third">
		<h3>Dormitories</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla.</p>
	</div>
	<div class="box third video">
		<img src="http://www.placekitten.com/305/305" alt="" />
	</div>
	<div class="box third image-quad">
		<img class="one" src="http://www.placekitten.com/150/150" alt="" />
		<img class="two" src="http://www.placekitten.com/150/150" alt="" />
		<img class="three" src="http://www.placekitten.com/150/150" alt="" />
		<img class="four" src="http://www.placekitten.com/150/150" alt="" />
	</div>
	<div class="box dark-green third">
		<h3>Community</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla.</p>
	</div>
	<div class="box third video">
		<img src="http://www.placekitten.com/305/305" alt="" />
	</div>
	<div class="box third image-quad">
		<img class="one" src="http://www.placekitten.com/150/150" alt="" />
		<img class="two" src="http://www.placekitten.com/150/150" alt="" />
		<img class="three" src="http://www.placekitten.com/150/150" alt="" />
		<img class="four" src="http://www.placekitten.com/150/150" alt="" />
	</div>
	<div id="international-relations" class="box full white">
		<h3>International relations</h3>
		<p>These are the universities to which you can go for a couple of semesters.</p>
		<div class="relation">
			<span class="country ukraine">Ukraine</span>
			<h5>Ukraine U</h5>
			<img src="http://www.placekitten.com/g/150/150" alt="Ukraine U" />
		</div>
		<div class="relation">
			<span class="country ukraine">Ukraine</span>
			<h5>Ukraine U</h5>
			<img src="http://www.placekitten.com/g/150/150" alt="Ukraine U" />
		</div>
		<div class="relation">
			<span class="country ukraine">Ukraine</span>
			<h5>Ukraine U</h5>
			<img src="http://www.placekitten.com/g/150/150" alt="Ukraine U" />
		</div>
		<div class="relation">
			<span class="country ukraine">Ukraine</span>
			<h5>Ukraine U</h5>
			<img src="http://www.placekitten.com/g/150/150" alt="Ukraine U" />
		</div>
		<div class="relation">
			<span class="country ukraine">Ukraine</span>
			<h5>Ukraine U</h5>
			<img src="http://www.placekitten.com/g/150/150" alt="Ukraine U" />
		</div>
	</div>
</section>