<div id="testimonial-slider-wrap">
		<h1>Testimonials <span class="sub"> we helped their university transfer to Hungary</span></h1>
		<ul id="testimonial-slider">
			<li class="clearfix">
				<a class="one" href="#"><span class="nationality ukrainian">Ukrain</span><%= image_tag "testimonials/olga/olga_thumb.png", :title => "Olga from Ukraine" %> <span class="name">Olga</span></a>
				<a class="two" href="#"><span class="nationality ukrainian">Ukrain</span><%= image_tag "testimonials/olga/olga_thumb.png", :title => "Olga from Ukraine" %> <span class="name">Olga</span></a>
				<a class="three" href="#"><span class="nationality ukrainian">Ukrain</span><%= image_tag "testimonials/olga/olga_thumb.png", :title => "Olga from Ukraine" %> <span class="name">Olga</span></a>
				<a class="four" href="#"><span class="nationality ukrainian">Ukrain</span><%= image_tag "testimonials/olga/olga_thumb.png", :title => "Olga from Ukraine" %> <span class="name">Olga</span></a>
			</li>
		</ul>
</div>

<section id="content" class="clearfix">
	
	<div class="clearfix">
		<div class="twothird-wrap">
			<div class="box twothird dark-green" id="cite">
				<h3>Artemio Afonso Guene Pedro</h3>
				<cite>uTransfer has always been there for me!</cite>
			</div>
			
			<div class="third-wrap">
				<div class="box third gray" id="about-box">
					<h4>About Afonso</h4>
					<p> <strong>From</strong> Angola</p>
					<p><strong>University</strong> <a href="/universities/international-business-school">International Business School</a></p>
					<p><strong>How did he find us</strong> word-of-mouth, through friends</p>
				</div>
			</div>
			<div class="box third gray" id="experiences-box">
				<h4>Experiences</h4>
				<p>uTransfer gave me a prefect service, everything went smooth and easy. From the arrival at the airport through the school registration they helped me and provided me all the information what I needed.
The personalized brochure and the local community site are extremely useful and awesome.
I never felt lonely and lost even though I was in a competely new country, uTransfer has always been there for me.
I extremely enjoyed the Utransfer experience.
I can only recommend students to choose uTransfer and come with them to Hungary.</p>
			</div>
		</div>
		<div class="box third" id="photo">
			<%= image_tag "testimonials/afonso/full_afonso.png", :title => "Afonso from Angola" %>
		</div>
	</div>
	<div id="under-photo">
		<div id="experiences" class="box third dark-purple">
			<h3>Afonso in Hungary</h3>
		</div>
		<div class="box third video">
			<img src="http://www.placekitten.com/305/305" alt="" />
		</div>
		<div class="box third image-quad">
			<img class="one" src="http://www.placekitten.com/150/150" alt="" />
			<img class="two" src="http://www.placekitten.com/150/150" alt="" />
			<img class="three" src="http://www.placekitten.com/150/150" alt="" />
			<img class="four" src="http://www.placekitten.com/150/150" alt="" />
		</div>
		<div id="career" class="box third light-green">
			<h3>Career</h3>
		</div>
		<div class="box twothird light-green">
			
		</div>
	</div>
</section>