<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">	
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
  <title>Utransfer</title>
  <%= stylesheet_link_tag    "application", controller_name %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek,greek-ext,vietnamese' rel='stylesheet' type='text/css'>


</head>
<body>

<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6. chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<header id="main-header">
	<section id="language-selector">
		<div id="language-inner" class="clearfix">
			<p>Select your language</p>
			<ul id="languages">
				<li class="en"><a href="#"><%= image_tag "flags/en.png", :title => "English" %> <span>Do you speak english?</span></a></li>
				<li class="chn"><a href="#"><%= image_tag "flags/chn.png", :title => "Chinese" %> <span>你会说汉语吗？</span></a></li>
				<li class="tur"><a href="#"><%= image_tag "flags/tur.png", :title => "Turkish" %> <span>Türkçe biliyor musun?</span></a></li>
				<li class="ukr"><a href="#"><%= image_tag "flags/ukr.png", :title => "Ukranian" %> <span>Ви говорите по-українському?</span></a></li>
			</ul>
			<a class="en" href="#" id="current-language"><span>Language</span></a>
		</div>
	</section>
	<section id="masthead" class="">
		<div class="left">
			<a id="logo" href="/"><%= image_tag "logo-full.png", :title => "uTransfer Hungary"%></a>
			<!-- aloldalakon h3,h4 és a téma lesz h1 h2 -->
			<hgroup>
				<h1>Hassle-free university transfer</h1>
				<h2>With uTransfer your education in Hungary is painless. <em>Intrested?</em></h2>
			</hgroup>
		</div>
		<div id="offer">
			<a href="/offer">get a personalized <strong>offer</strong></a>
		</div>
	</section>
	<nav id="main-nav">
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a class="active" href="">Experience</a></li>
			<li><a href="/process">Process</a></li>
			<li><a href="/essentials">Essentials</a></li>
			<li><a href="/hungary">Hungary</a></li>
			<li><a href="/university">Universities</a></li>
			<li><a href="/testimonial">Testimonials</a></li>
			<li><a href="/offer">Get an offer</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>

<%= yield %>

<footer id="main-footer">
	<div id="footer-inner">
		<div id="footer-logo">
			&copy; 2012 uTransfer
		</div>
		<ul id="footer-nav">
			<li><a href="#">Home</a></li>
			<li><a href="#">Experience</a></li>
			<li><a href="#">Process</a></li>
			<li><a href="#">Essentials</a></li>
			<li><a href="#">Hungary</a></li>
			<li><a href="#">Universities</a></li>
			<li><a href="#">Testimonials</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<ul id="footer-misc">
			<li><a href="/about">About</a></li>
			<li><a href="/privacy">Privacy policy</a></li>
		</ul>
	</div>
</footer>

</body>
</html>
